@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500;600;700&display=swap');

* {
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
    width: 300px;
    height: 350px;
    border-radius: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
}

.cardImage {
    height: 60%;
}

.cardImage span {
    position: absolute;
    top: 5px;
    right: 5px;
}


.likeIcon img:nth-child(2) {
    display: none; 
  }
  
  .likeIcon:hover img:nth-child(1) {
    display: none;
  }
  
  .likeIcon:hover img:nth-child(2) {
    display: block;
  }

.starrating {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: baseline;
    align-content: center;
    /* justify-content: space-between; */
}
#r1{
    font-weight: 100;
    color: rgb(91, 91, 91);
    font-size: 0.85rem;
    padding-top: 6px;
    padding-left: 4px;
}

.cardImage img {
    width: 100%;
    height: 100%;
}

.cardImage .likeIcon img {
    cursor: pointer;
}

.cardData {
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.name {
    font-size: 1rem;
    font-weight: 600;
    height: 60px;
    margin-top: 4px;
    margin-bottom: 0;
    /* margin-bottom: auto; */
}

.cardData .description {

    font-weight: 100;
    color: rgb(91, 91, 91);
    font-size: 0.85rem;
    
}

.cardData .starrating {

    margin: 0;
}

/**For mobile view**/
@media only screen and (max-width: 400px) {

    .card {

        width: 230px;
        height: 400px;
    }

    .cardImage span {
        position: absolute;
        top: 10px;
        right: 10px;
    }
   
    .cardData {
        padding: 0 10px;
    }
}