@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500;600;700&display=swap');
* {
  font-family: "Poppins";
}
button {
  cursor: pointer;
}
.mainCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eaeaea;
  width: 100%;
  height: 100vh;
}

/* Logo section */
.logoCont {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 48vw;
  padding-top: 10vh;
}
.logo {
  position: absolute;
  top: 1vh;
  left: 1.5vw;
  width: 25vw;
  height: auto;
}

/* Image */
.tourset {
  position: absolute;
  left: 8vw;
  width: 50%;
  height: auto;
  bottom: 5vh;
}

/* Signup section */
.signupCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 52vw;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5rem 0rem 0rem 5rem;
}
.header .text {
  /* font-size: 3rem; */
  font-size: 3.2vw;
  letter-spacing: 0.12vw;
  font-weight: 700;
  color: #046b82;
}

/* Custom Login */
.customlogin {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.custombutton {
  display: flex;
  align-items: center;
  border-radius: 11px;
  border: 1px solid #b8b8b8;
  background: rgba(255, 255, 255, 0.75);
  width: 251px;
  height: 36px;
  color: #a7a3a3;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.custombutton img {
  margin-right: 10px;
}

.or {
  padding-top: 1.5rem;
  align-self: center;
  color: #6d6c6c;
  font-family: 'Montserrat';
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.54px;
}
.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: transparent;
  /* width: 45%; */
}
.input input {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5vw 0vw;
  margin-top: 2vw;
  width: 23.125vw;
  /* width: 100%; */
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 0.1rem solid #b8b8b8;
}
::placeholder {
  color: #b8b8b8;
}
.signupSubmit {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01125rem;
  border: none;
  outline: none;
  border-radius: 0.6875rem;
  padding: 0.5vw 0vw;
  margin-top: 2rem;
  width: 23.125vw;
  color: #ffffff;
  background-color: #046b82;
}

/* Form switch */
.signupCont .alreadyAcc {
  color: #a7a3a3;
  font-size: 1.0625rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.01063rem;
  margin: 3vw 0vw;
}
.login {
  color: #046b82;
  font-weight: 600;
  text-decoration: none;
}

/* media queries */
@media only screen and (max-width: 1000px) {
  .signupForm {
    width: 70%;
  }
  .inputs,
  .input {
    width: 100%;
  }
  .input input,
  .signupSubmit {
    width: 100%;
  }
  .tourSet {
    width: 60%;
    bottom: 10vh;
  }
}

@media only screen and (max-width: 700px) {
  .tourSet {
    width: 60%;
    height: auto;
    bottom: 12vh;
  }
}

/*Mobile View*/
@media only screen and (max-width: 600px) {
  .text {
    font-size: 1rem;
  }
  .mainCont {
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .signupCont {
    justify-content: flex-start;
    width: 80%;
    border-radius: 0;
    height: auto;
    border-radius: 2rem;
  }
  .signupCont #alreadyAcc {
    margin: 20px 0;
  }
  .logoCont {
    display: none;
  }
  .signupForm {
    padding: 1.5rem 0rem;
    align-items: center;
  }
  .header .text {
    /* display: none; */
    font-size: 1.75rem;
  }
  .or{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    font-size: 1rem;
  }
  .signupCont {
    width: 90%;
  }
  .input input {
    font-size: 0.9rem;
  }
}
